<%- include('partials/header') -%>

<%# Show individuals progress in a calender %>
<h1> Progress Sheet</h1>

<a href="/creation" class="col-3 btn btn-primary"> Create Workout</a>
<a href="/workout" class="col-3 btn btn-primary"> Workout</a>
<a href="/logout" class="col-3 btn btn-primary"> Logout</a>
<%- include('partials/footer') -%>