<%- include('partials/header') -%>

<%# Allow individuals to look and potentially modifiy their workout %>
<h1> Workout Tracking</h1>


<a href="/creation" class="col-3 btn btn-primary"> Create Workout</a>
<a href="/workout" class="col-3 btn btn-primary"> Workout</a>
<a href="/logout" class="col-3 btn btn-primary"> Logout</a>

<%- include('partials/footer') -%>